<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<head>
	<meta charset="UTF-8">
	<title>Adding Two Numbers </title>
</head>
<body>
<div id="app">
	<input type="text" v-model.number="number1" placeholder="Enter number">
	<br>
	<br>
	<input type="text" v-model.number="number2" placeholder="Enter number">
	<br>
	<br>
	<button @click="sumNumber()" :disabled="isShowing" >Sum</button>
	<br>
	<br>
	<ul v-if="isShowing">
		<li>{{number1}} + {{number2}} = {{total}}</li>
	</ul>
	<br>
	<hr>
	<button @click="isShow = !isShow" :class="isShow ? 'green': 'red' ">{{buttonText}}</button>
	<ul v-show="isShow">
		<li v-for="(item, index) in list" >
			{{index+1}}. {{item}}
		</li>
	</ul>
</div>
</body>
<script>
	new Vue({
		el : '#app',
		data : {
			number1 : "",
			number2 : "",
			total : null ,
			isShow : true,
			list : []
		},
		methods: {
			addList() {
				this.list.push(`${this.number1} + ${this.number2} result : ${this.total}`);
			},
			sumNumber() {
				this.total = this.number1 + this.number2;
				this.addList();
			},
			reset () {
				this.number1 = "";
				this.number2 = "";
				this.total = null;
			},
	},
		computed : {
			buttonText() {
				return this.isShow ? "History Hide" : "History Show";
			},
			isShowing() {
				return this.total !== null;
			}

		},
		watch : {
			total(){
				setTimeout(()=> {
					this.reset();
				},500)
			}
		}

	})
</script>
<style >
	body {
		margin-left: 20px;
		margin-top: 20px;
	}
	.green {
		background-color : green !important;
	}
	.red {
		background-color : red;
	}
</style>
</html>